*{
	padding: 0;
	margin: 0;
}

body{
  background: #120338;
}

.main{
	margin-top: 25px;
}

nav ul li{
	margin-left: 20px; 
	padding-bottom: 10px;
	margin-top: 10px;
}

.navbar{
	background-color: #1b2c40;
}

.navbar-dark .navbar-nav .active .nav-link {
color: #CE245A;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #CE245A;
	transition: color 1.2s;
}

.navbar-dark .navbar-nav .nav-link:not(hover){
	color: white;
	transition: color 1.2s;
}

.jumbotron{
	color: white;
	background-color: #0a0a10; 
}

.lead{
	padding-top: 10px;
}

.type_text{
	color: white;
	margin-bottom: 15px;
	font-size: 18pt;
}

.subtext{
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size: 17px;
}

.btn-font-2{
	font-family: 'Oswald', sans-serif;
	width: 120px;
}

.break{
	margin-top: 50px;
}


.advantages-main{
	color: #CE1036;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 20px;
}

.list-group-item{
	margin-bottom: 10px;
}

.settings{
	color: #CE1036;
	font-family: 'Oswald', sans-serif;
}

.header-text{
	color: white;
	font-family: 'Roboto Slab', serif;
	font-size: 14pt;
}


.content{
	background-color: white;
	max-height: 1250px;
	padding-top: 15px;
}

.content p{
	font-size: 18px;
	color: #89808a;
	text-align: justify;
}

.btn-color{
	color: white;
	background: #506CF0;
}

.btn-color:hover{
	background: #5064c5;
	transition: background 2s;
	color: white;
}

.last-article-text{
	padding-bottom: 15px;
}

.last-image-article{
	padding-bottom: 15px;
}

.author-article{
	color: #ff4655;
}

.circle{
  display: block;
  position: absolute;
  border-radius: 50%;
}

.circle01{
  left: calc(65% + 12vw);
  top: calc(110vh + 12vw);
  width: 12vw;
  padding-top: 12vw;
  transform-origin: 40% 54%;
  background: linear-gradient(#F439D6, #F42B71);  /*pink to dark pink*/
  animation: rotate 8s linear infinite;
}


.circle04{
  right: 90%;
  top: 60%;
  width: 5vw;
  padding-top: 5vw;
  transform-origin: 40% 50%;
  background: linear-gradient(#FDE213, #EF9004);  /*light yellow to dark yellow*/
  animation: rotateBob 8s linear infinite;
}

.circle02{
  top: calc(70vh + 9vw);
  left: calc(80% + 9vw);
  z-index: 8;
  width: 9vw;
  padding-top: 9vw;
  background: linear-gradient(#4FE3FF, #9117FF);  /*light blue to purple*/
  transform-origin: 48% 48%;
  animation: rotatePathInside 6s linear infinite;
}

  .item {
    visibility: hidden;
    display: none;
  }

@keyframes rotate{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(360deg);
  }
}

@keyframes rotateBob{
  0%{
    transform: translateY(0) rotateZ(0deg);
  }
  50%{
    transform: translateY(-3vh) rotateZ(180deg);
  }
  100%{
    transform: translateY(0) rotateZ(360deg);
  }
}

@keyframes rotatePathInside{
  0%{
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100%{
    transform: translateX(-50%) translateY(-50%) rotateZ(360deg);
  }
}

.content p{
	margin-bottom: 15px;
}


@media screen and (max-width: 768px){

.card{
	margin-bottom: 15px;
}

.content{
	background-color: white;
	max-height: 1520px;
	padding-top: 15px;
}

 .content p{
	font-size: 13.5px;
}

.header-text{
	font-size: 12pt;
}

.last-image-article{
	padding-bottom: 10px;
	width: 250px;
	height: 200px;
}

.circle{
	display: none;
}

.content p{
	margin-bottom: 9px;
}

}